<!DOCTYPE html>
<html lang="pt">
    <head>
        <!-- Title -->
        <title>Emporio Villa Borghese - Pedido</title>
        <%- include ("./components/head") %>
        <meta name="robots" content="index, follow" />
        <style type="text/css">
            .card-img {
                position: relative;
                padding-top: 100%;
                left: 0;
                top: 0;
            }
            .card-img img {
                margin-left: 0 !important;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
            @media only screen and (min-width: 1200px) {
                .col-lg-24 {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
            }
        </style>
    </head>
    <body id="homeSection">
        <!-- ========== HEADER ========== -->
        <%- include ("./components/navbar") %>
        <!-- ========== END HEADER ========== -->

        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" role="main">
            <!-- BREADCRUMB -->
            <nav class="py-5 hide-mobile">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Breadcrumb -->
                            <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
                                <li class="breadcrumb-item">
                                    <a class="text-gray-400" href="/">Início</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a class="text-gray-400" href="/orders">Pedidos</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- CONTENT -->
            <section class="pt-7 pb-12">
                <div class="container">
                    <div class="row hide-mobile">
                        <div class="col-12 text-center">
                            <!-- Heading -->
                            <h3 class="mb-10">Pedido #<%= order.number %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3 d-none d-md-block">
                            <!-- Nav -->
                            <nav class="mb-10 mb-md-0">
                                <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                                    <a class="list-group-item list-group-item-action dropright-toggle active" href="/orders"> Pedidos </a>
                                    <a class="list-group-item list-group-item-action dropright-toggle" href="/profile"> Perfil </a>
                                    <a class="list-group-item list-group-item-action dropright-toggle" href="/addresses"> Endereços </a>
                                    <a class="list-group-item list-group-item-action dropright-toggle" href="/cards"> Cartões </a>
                                    <a class="list-group-item list-group-item-action dropright-toggle" href="/logout"> Sair </a>
                                </div>
                            </nav>
                        </div>
                        <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
                            <!-- Order -->
                            <div class="card card-lg mb-5 border">
                                <div class="card-body bg-light">
                                    <div class="row">
                                        <div class="col-6 col-lg-3">
                                            <!-- Heading -->
                                            <h6 class="heading-xxxs text-muted">Numero:</h6>

                                            <!-- Text -->
                                            <p class="mb-lg-0 font-size-md font-weight-bold" id="order_number">#<%= order.number %></p>
                                        </div>
                                        <div class="col-6 col-lg-3">
                                            <!-- Heading -->
                                            <h6 class="heading-xxxs text-muted">Data:</h6>

                                            <!-- Text -->
                                            <p class="mb-lg-0 font-size-md font-weight-bold">
                                                <time datetime="<%= order.date %>"> <%= Utils.formatDate(order.date) %> </time>
                                            </p>
                                        </div>
                                        <div class="col-6 col-lg-3">
                                            <!-- Heading -->
                                            <h6 class="heading-xxxs text-muted">Estado:</h6>
                                            <!-- Text -->
                                            <p class="mb-0 font-size-md font-weight-bold"><%= order.status %></p>
                                        </div>
                                        <div class="col-6 col-lg-3">
                                            <!-- Heading -->
                                            <h6 class="heading-xxxs text-muted">Total:</h6>
                                            <!-- Text -->
                                            <p class="mb-0 font-size-md font-weight-bold">R$ <%= Utils.formatCurrency(order.total) %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Items -->
                            <div class="card card-lg mb-5 border">
                                <div class="card-body">
                                    <!-- Heading -->
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6 class="mb-0">Itens</h6>
                                        <a class="d-none btn btn-xs btn-block btn-outline-dark" href="javascript:;" onclick="repeatOrder();" style="width: 185px">Adicionar ao carrinho</a>
                                    </div>

                                    <!-- Divider -->
                                    <hr class="my-5" />

                                    <!-- List group -->
                                    <ul class="list-group list-group-lg list-group-flush-y list-group-flush-x" id="items">
                                        <% for(var i=0; i < order.items.length; i++) { %>
                                        <li class="list-group-item" id="<%= order.items[i].id %>" quantity="1" unit="UN">
                                            <div class="row align-items-center">
                                                <div class="col-4 col-md-3 col-xl-2">
                                                    <a class="product-image" href="/items/<%= order.items[i].item.id %>"
                                                        ><img src="<%= order.items[i].item.image %>" alt="<%= order.items[i].item.name %>" class="img-fluid"
                                                    /></a>
                                                </div>
                                                <div class="col">
                                                    <p class="mb-4 font-size-sm font-weight-bold">
                                                        <a class="text-body" href="/items/<%= order.items[i].item.id %>"><%= order.items[i].item.name %></a> <br />
                                                        <span class="text-muted"><span class="font-weight-bold text-muted">R$ <%= Utils.formatCurrency(order.items[i].total) %></span></span>
                                                    </p>
                                                    <div class="font-size-sm text-muted">Quantidade: <%= order.items[i].quantity %> <%= order.items[i].unit %></div>
                                                </div>
                                            </div>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>

                            <!-- Total -->
                            <div class="card card-lg mb-5 border">
                                <div class="card-body">
                                    <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                                        <li class="list-group-item d-flex"><span>Subtotal</span><span class="ml-auto">R$ <%= Utils.formatCurrency(order.subtotal) %></span></li>
                                        <li class="list-group-item d-flex"><span>Envio</span><span class="ml-auto">R$ <%= Utils.formatCurrency(order.shipping) %></span></li>
                                        <li class="list-group-item d-flex"><span>Desconto</span><span class="ml-auto">R$ <%= Utils.formatCurrency(order.discount) %></span></li>
                                        <li class="list-group-item d-flex font-size-lg font-weight-bold"><span>Total</span><span class="ml-auto">R$ <%= Utils.formatCurrency(order.total) %></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card card-lg mb-5 border">
                                <div class="card-body">
                                    <h6 class="mb-7">Estado</h6>
                                    <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x"></ul>
                                </div>
                            </div>
                            <div class="card card-lg border">
                                <div class="card-body">
                                    <h6 class="mb-7">Detalhes</h6>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <p class="mb-4 font-weight-bold">Entrega:</p>
                                            <p class="mb-7 mb-md-0 text-gray-500"><%- order.address?.formated %></p>
                                        </div>
                                        <% if (order.payment_method) { %>
                                        <div class="col-12 col-md-4">
                                            <p class="mb-4 font-weight-bold">Pagamento:</p>
                                            <p class="mb-7 mb-md-0 text-gray-500"><%- order.payment_method.name %></p>
                                        </div>
                                        <% } %> <% if (order.card) { %>
                                        <div class="col-12 col-md-4">
                                            <p class="mb-4 font-weight-bold">Pagamento:</p>
                                            <p class="mb-7 mb-md-0 text-gray-500"><img class="mr-1" src="<%- order.card.issuer %>.svg" style="height: 18px" /> <%- order.card.last_4 %></p>
                                        </div>
                                        <% } %> <% if (order.vat) { %>
                                        <div class="col-12 col-md-4">
                                            <p class="mb-4 font-weight-bold">Nota Paulista:</p>
                                            <p class="mb-7 mb-md-0 text-gray-500"><%- order.vat %></p>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
        <div class="toolbar">
            <button onclick="window.location.href = '/';"><i class="far fa-store"></i><span>Inicio</span></button>
            <button onclick="window.location.href = '/categories';"><i class="far fa-bars"></i><span>Categorias</span></button>
            <button onclick="viewCart();"><i class="far fa-shopping-cart"></i><span>Carrinho</span></button>
            <button class="active" onclick="viewAccount();"><i class="far fa-user"></i><span>Conta</span></button>
        </div>
        <!-- ========== FOOTER ========== -->
        <%- include ("./components/footer") %>
        <!-- ========== END FOOTER ========== -->

        <!-- Go to Top -->
        <a
            class="js-go-to go-to position-fixed"
            href="javascript:;"
            style="visibility: hidden"
            data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'
        >
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- End Go to Top -->
        <%- include ("./components/scripts") %>
        <script type="text/javascript">
            $(".mobile-navbar .title").html("Pedido #" + $("#order_number").html().trim());
            function repeatOrder() {
                $("#items li").each(function (index) {
                    console.log($(this).attr("id"), Number($(this).attr("quantity")), $(this).attr("unit"));
                    addToCart($(this).attr("id"), Number($(this).attr("quantity")), $(this).attr("unit"));
                });
                viewCart();
            }
        </script>
    </body>
</html>
